{% extends "front-layout.twig" %}

{% block content %}

<h1>{{ 'game.list'|trans }}</h1>

<div class="d-flex justify-content-end mb-3">
{% if app.user %}
    <a href="{{ path('app_game_new') }}" class="btn btn-success">{{ 'game.new.title'|trans|raw }}</a>
{% endif %}
</div>

{#{{ dump(entities) }}#}
<div class="p-3"><strong>Il y a {{ count }} jeux</strong></div>
<ul class="list-group">
    {% for entity in entities %}
        <li class="list-group-item">
            <div class="row">
                <div class="col-2">
                    {% if entity.image is not empty %}
                        <img src="{{ asset(entity.image.webPath) }}" alt="{{ entity.title }}" style="height: 70px; width: 70px;">
                    {% endif %}
                </div>
                <div class="col-4">
                    <h5> {{entity.title}} </h5>
                </div>
                <div class="col-4">
                    <span class="badge bg-info"> {{entity.support}}</span>
                </div>
                <div class="col-2">
                    <div class="text-end">
                        {%  if is_granted('EDIT', entity) %}
                            <a href="{{ path('app_game_edit',  {'id':entity.id }) }}" class="btn btn-light"><i class="fas fa-edit"></i></a>
                            <a href="{{ path('app_game_delete',  {'id':entity.id }) }}" class="btn btn-danger"><i class="fas fa-trash"></i></a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </li>
    {% endfor %}
</ul>

<div class="my-3">
    {% include "decorator/_pagination.html.twig" with {"route": "app_game_list"} %}
</div>

{% endblock %}